*~
*.acn
*.aux
*backup
*.bbl
*.bcf
*.blg
*.brf
.DS_Store
*.dvi
*eps-converted-to.pdf
*.fdb_latexmk
*.fls
*.glo
*.gnn
*.idx
*.ilg
*.ind
*.ist
*.kilepr
*.lof
*.log
*.lol
*.lot
*.make
*.nav
*.old
*.orig
*.out
/*.pdf
*.ps
*.rej
report.d
*.run.xml
*.snm
*.synctex.gz
*.tan
*.temp
*.tmproj
*.toc
*.ttn
*.tvn
*.vrb
*.xdy
