*eps-converted-to.pdf
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.dvi
*.out
/*.pdf
*.ps
*.acn
*.ist
*backup
*~
*.glo
*.old
*.brf
.directory
*.ttn
Literature-old.bib
*.nav
*.snm
*.toc
*.vrb
talk/*.pdf
*.bcf
*.gnn
*.lof
*.lot
*.run.xml
*.tan
*.tvn
*.xdy
texmf
.DS_Store
*.idx
*.ilg
*.ind
*.make
*.temp
report.d
